body{
  background-color: black;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding-bottom: 60px;
}

:root{
--font-color:white;
--mobile-menu-font-size:16px;
--mobile-version-font-weight:200;
--button-tex-color:black;
--border-radius:8px 8px 8px 8px;
--display-flex: flex column;
--text-align: center;
--btn-brd-radius:5px 5px 5px 5px;

}

/*Header-style-start*/


header{
  margin-top: 10px;
  background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url("../images/intense.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 500px;
  width: 100%;
  position: relative;
}
nav{
  max-width: 800px;
  margin: auto;
  margin-top: 10px;
  width: 100%;
}
.mobile-logo img{
  width:90px;
  margin: auto;
  display: flex;
  padding-top:5px;
}
.logo-orginal{
  display: none;
}
ul{
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
  flex-wrap: wrap;
  list-style-type: none;
  margin: auto;
}

.menu{
  position: relative;
}

ul li a{
  color: var(--font-color);
  padding: 10px;
  font-weight: 100;
  font-size: var(--mobile-menu-font-size);
  text-decoration: none;
}

.submenu{
  position: absolute;
  color: var(--font-color);
  font-weight: 100;
  width: 140px;
  display: none;
  background-color: rgba(0, 0, 0, 0.8);
  line-height: 3;
 
  cursor: pointer;
}

.menu li:hover > .submenu {
  display: block;
}




/*main start here*/
.main{
  text-align: var(--text-align);
  max-width: 800px;
  margin: auto;
  background-color: rgb(119, 122, 119);
  padding: 20px;

}
.container{
  text-align: var(--text-align);
  color: var(--font-color);
  margin: auto;
  padding: 20px;
  line-height: 0.7;
}


.vipss-logo, .visa-logo {
  width: 80px;
  height: 35px;
}
.title{
  font-weight: 300;
  letter-spacing: 2px;
  font-size: 20px;
  
}
.successful{
  font-weight: 800;
  letter-spacing: 2px;
  font-size: 30px;
  color: rgb(10, 212, 144);
}
.duration{
  font-weight: 100;
}
.payment-methods{
  font-weight: 300;
}
.payment-logo{

 display: flex ;
 flex-direction: row;
 justify-content: center;

}
.add-to-card{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  margin: auto;
  background-color: rgb(213, 73, 73);
  width: 160px;
  height: 30px;
  border-radius: var(--btn-brd-radius);
 
  
}
.add-to-card a{
  text-decoration: none;
  color: var(--font-color);
  font-size: 20px;
  font-weight: 600;
  
}



/*footer-style*/
.menu-footer{
  color: var(--font-color);
  background-color: rgba(0, 0, 0, 0.9);
  height: 50px;
  text-align: var(--text-align);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  width: 100%;
}
.footer-icon{
  padding: 12px;
}
@media screen and (min-width: 800px) {
  
  .navigation{
    max-height: 100px;
    background-color: white;
  }

  nav ul li{
    margin-bottom: 20px;
  }
  
  nav ul li a{
    color: black;
  
  }
  .submenu{
    background-color: white;
  }
  header{
  max-width: 1920px;
  margin: auto;
}

.menu-footer{
  display: none;
}
.logo-white{
  display: none;
}
.logo-orginal{
  display: block;
}
}

  